.psonpHide {
    visibility: hidden;
}

.QuotationButtonContainer {
    margin: 16px;
    display: flex;
    flex-wrap: wrap;
}

.QuotationButton {
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
    flex-grow: 1;
    flex-basis: 100%;
}

.QuotationButton.button {
    background: #e2e2e2;
    line-height: 74px;
    font-size: 16px;
    border: solid 1px rgb(202, 202, 202);
    cursor: pointer;

    border-top-width: 1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
